@model Minesweeper.Models.Game
@{
    ViewBag.Title = "Game";
}

<div class="row">

    <div class="col-md-4">
        <p>THIS IS A GAME</p>
    </div>

    <div class="col-md-4">
        <table border="1">
            <tr>
                <th></th>
                <th>0</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
            </tr>
            @for (var i = 0; i < 8; i++)
            {
                <tr>
                    <th>@i</th>
                    @for (var j = 0; j < 8; j++)
                    {
                        var pos = (@Model.Grid[i, j] == "0") ? "" : @Model.Grid[i, j];
                    <td>@pos</td>
                    }
                </tr>
            }

        </table>
    </div>

    <div class="col-md-4">
    </div>
</div>